<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="parameter facbook">

<listeners>
<listener class-name="IAnnotation.Tranformer"></listener>
</listeners>
  <test  name="Retrymulitpletestcases">
  
  
  <classes>
  <class name="Reruntestcases.Runtest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
